* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    display: flex;
    padding: 32px;
}

.header, .footer, .hero {
    background-color: #1f2937;
    color: #f9faf8; 
}

.hero {
    padding: 75px;
    padding-top: 0;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 5px;
}

.header-logo {
    font-size: 24px;
}

.hero {
    justify-content: center;
    flex: 1;
    align-items: center;
    margin: 0 auto;
}

.main-content {
    flex: 1 0 200px;
    margin: 30px;
    justify-content: center;
    max-width: 400px;
}

.hero-image {
    align-self: center;
}

h1 {
    font: 48px 900 sans-serif;
}

.images {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-grid img {
    border: 5px solid #3382f6;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.images-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    justify-content: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 54vw;
    margin: 50px auto;
}

.quote-text {
    font-size: 32px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
    font-weight: 100;
}

.quote-attribution {
    justify-self: flex-end;
    align-self: flex-end;
    font-weight: 800;
}

.call-to-action {
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.block {
    width: 75vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.footer {
    justify-content: center;
}

.hero p, .header-link {
    font-size: 18px;
    color: #e5e7eb;
}

button, .block {
    background-color: #3382f6;
    color: #f9faf8;
    border-radius: 5px;
}

button {
    border: solid #3382f6 2px;
    padding: 5px 25px;
}

button:hover {
    cursor: grab;
}

.block button {
    border-color: white;
}

.footer {
    font-size: x-small;
    font-style: italic;
}